// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #006dc7;
$indigo: #15288a;
$purple: #7150a3;
$pink: #be4a71;
$red: #bb251f;
$orange: #e47b12;
$yellow: #ffea2c;
$green: #06b850;
$teal: #22aa9c;
$cyan: #46a8f8;
